

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><%= image_tag "Logo.png", class: "logo" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
</nav>


  <div class="container">
    <h1>An independent provider of mobile servicing and maintenance to cars and light commercial vehicles in the South East. </h1>
    <h3 class="mt-3">At ST Autos we are dedicated to providing a first-class mobile solution but we don’t compromise on the service offered combined with competitive rates offering value.</h3>
    <h3 class="mt-3">Our mobile service and maintenance team have fully trained engineers who are supported by a dedicated team. Our mobile engineers are trained to City & Guilds standard plus having “hands on” experience for a minimum of 10 years.</h3>
    <h3 class="mt-3">At ST Autos our common goal is to work with our customers to understand their business needs and once we understand your needs we can provide the best possible solution to keep the business moving.</h3>
    <h2 class="mt-3">Our Aims for your business</h2>
    <h3 class="mt-3">We understand that you may work in demanding environments and the key features of our business offers flexibility and cost reductions:</h3>
    <h3>
We understand the need to reduce downtime so you don’t have your vehicles off the road all day whist it’s sat in a static workshop waiting to be repaired.
</h3>
    <h3>Fuel costs, we guarantee that you don’t take your vehicle miles to a workshop wasting fuel when ST Autos will come to you. We recognise that taking a vehicle to a workshop is not cost effective thus reducing the need to arrange collection of an employee saving time and costs.
</h3>
    <h3>We understand the need to ensure increased vehicle availability so we have a system of appointment slots, which are pre-arranged enabling you to work around the booking.
</h3>
    <h3>Cost savings in maintenance and repair spend is crucial and fully appreciate that being competitive is key in helping balance the books and as such our labour rates are reasonable, and ensures there is no need to pay inflated dealer prices.
</h3>
    <h3>All vehicles are serviced and repaired on site so we come to you direct to the vehicles. We also offer a 24/7 breakdown service in your hour of need and can work on your vehicles at short notice.</h3>
 </div>
